@{
    ViewBag.Title = "Add New Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SchoolID = ERP_SchoolSystem.Classes.UserInfo.GetSchoolID();
    ERP_SchoolSystem.Models.ERP_SchoolSystemEntities db = new ERP_SchoolSystem.Models.ERP_SchoolSystemEntities();
    var CountriesList = db.TblCountries.Where(x => x.IsActive == true).ToList();
    var EmployeeStatusList = db.CboEmpStatus.Where(x => x.SchoolId == SchoolID && x.IsActive == true).ToList();
    var BranchNameList = db.TblSchoolBranches.Where(x => x.SchoolID == SchoolID && x.IsActive == true).ToList();
    var DepartmentList = db.CboDepartments.Where(x => x.SchoolId == SchoolID && x.IsActive == true).ToList();
    var DesignationList = db.CboDesignations.Where(x => x.SchoolId == SchoolID && x.IsActive == true).ToList();
    var SchoolList = db.TblSchools.Where(x => x.SchoolId == SchoolID && x.IsActive == true).ToList();
    List<ERP_SchoolSystem.Models.TblUserType> UserTypeList = new List<ERP_SchoolSystem.Models.TblUserType>();
    UserTypeList = db.TblUserTypes.Where(x => x.UserTypeID == 5 && x.IsActive == true).ToList();
}



<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title">Add New Student</h6>
        <div class="header-elements">
        </div>
    </div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            <span class="font-weight-semibold">@ViewBag.SuccessMessage</span>
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            <span class="font-weight-semibold">@ViewBag.ErrorMessage</span>
        </div>
    }
    <form class="wizard-form steps-validation" action="~/Student/AddNewStudent" data-fouc id="StdForm" method="post" enctype="multipart/form-data">
        <h6>Student Personal Info</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>School Name <span class="text-danger">*</span></label>
                        <select name="SchoolID" id="SchoolID" data-placeholder="Select School Name" class="form-control form-control-select2" data-fouc>
                            <option value="">Select School Name</option>
                            @foreach (var item in SchoolList)
                            {
                                <option value="@item.SchoolId">@item.SchoolName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Branch Name <span class="text-danger">*</span></label>
                        <select name="BranchID" id="BranchID" data-placeholder="Select Branch Name" class="form-control form-control-select2" data-fouc>
                            <option value="">Select Branch Name</option>
                            @foreach (var item in BranchNameList)
                            {
                                <option value="@item.BranchID">@item.BranchTitle</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Name <span class="text-danger">*</span></label>
                        <input type="text" name="StudentName" class="form-control" placeholder="Enter Student Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Father Name <span class="text-danger">*</span></label>
                        <input type="text" name="FatherName" class="form-control" placeholder="Enter Father Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Gender <span class="text-danger">*</span></label>
                        <select name="Gender" data-placeholder="Select Gender" class="form-control form-control-select2" data-fouc id="Gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Date of Birth <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text" class="form-control daterange-single" value="@String.Format("{0:MM/dd/yyyy}", DateTime.Now)" name="DOB">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Date of Addmission <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text" class="form-control daterange-single" value="@String.Format("{0:MM/dd/yyyy}", DateTime.Now)" name="DOA">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student CNIC (B Form) <span class="text-danger">*</span></label>
                        <input type="text" name="CNIC" class="form-control" placeholder="Enter Employee CNIC" data-mask="99999-9999999-9">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" name="EmailAddress" class="form-control" placeholder="Enter Email Address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Country <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Std_Country" id="Std_Country" onchange="GetProvince()">
                            <option value="">Select Country</option>
                            @foreach (var item in CountriesList)
                            {
                                <option value="@item.CountryID">@item.CountryName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Postal Province <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Std_Postal_Province" id="Std_Postal_Province" onchange="GetPostalCities()">
                            <option value="">Select Postal Province</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Postal City <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Std_Postal_City" id="Std_Postal_City">
                            <option value="">Select Postal City</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Permanent Province <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Std_Permanent_Province" id="Std_Permanent_Province" onchange="GetPermanentCities()">
                            <option value="">Select Permanent Province</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Permanent City <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Std_Permanent_City" id="Std_Permanent_City">
                            <option value="">Select Permanent City</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Postal Address <span class="text-danger">*</span></label>
                        <input type="text" name="Std_R_HomeAddress" class="form-control" placeholder="Enter Postal Address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Permanent Address <span class="text-danger">*</span></label>
                        <input type="text" name="Std_P_HomeAddress" class="form-control" placeholder="Enter Permanent Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact No.</label>
                        <input type="text" name="Std_ContactNo" class="form-control" placeholder="Enter Contact No" data-mask="9999-9999999">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Home Contact No. <span class="text-danger">*</span></label>
                        <input type="text" name="Std_HomeContactNo" class="form-control" placeholder="Enter Home Contact No" data-mask="9999-9999999">
                    </div>
                </div>
            </div>
        </fieldset>
        <h6>Guardian Info</h6>
        <fieldset>
            @Html.Partial("Std_G_Details")
        </fieldset>
        <h6>Last School Info</h6>
        <fieldset>
            @Html.Partial("Std_LastSchool_Details")
        </fieldset>
        <h6>Edu Documents</h6>
        <fieldset>
            @Html.Partial("Std_Edu_Document")
        </fieldset>
        <h6>Student Info</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student UserName<span class="text-danger">*</span></label>
                        <input type="text" name="StudentUserName" class="form-control" placeholder="Enter Employee UserName" value="Auto Generate" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password <span class="text-danger">*</span></label>
                        <input type="password" name="Password" class="form-control" placeholder="Enter Password" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student User Type <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="StudentUserType" id="StudentUserType">
                            <option value="">Select User Type</option>
                            @foreach (var item in UserTypeList)
                            {
                                <option value="@item.UserTypeID">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Student Status</label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked1" name="IsActive" value="1">
                            <label class="custom-control-label" for="custom_checkbox_stacked_unchecked1">Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Batch No<span class="text-danger">*</span></label>
                        <input type="text" name="StudentBatchNo" class="form-control" placeholder="Enter Student Batch No">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Batch Details <span class="text-danger">*</span></label>
                        <input type="text" name="StudentBatchDetails" class="form-control" placeholder="Enter Student Batch Details">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Study program <span class="text-danger">*</span></label>
                        <select class="form-control form-control-select2" data-fouc name="Studyprogram" id="Study program">
                            <option value="">Select Study program</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Profile Picture</label>
                        <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png , .gif ,.jpeg" onchange="readURL(this);" id="StdLogo" name="StdLogo">
                        <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <img src="~/Content/images/noimageicon.png" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="img_prev" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>

    function validateEduDetails()
    {
        return true;
    }

    function GetProvince() {
        var CountryID = document.getElementById('Std_Country').value;
        if (CountryID != "") {
            debugger;
            $("#LoadingSpinner").show();
            var url = '@Url.Action("Get_Std_Permanent_ProvincesList", "Student")';
            $.ajax({
                url: url,
                data: { CountryID: CountryID },
                cache: false,
                type: "POST",
                success: function (result) {
                    if (result != null) {
                        $("#Std_Permanent_Province").html(result);
                        $("#LoadingSpinner").hide();
                    }
                }
            });
        }
        if (CountryID != "") {
            debugger;
            $("#LoadingSpinner").show();
            var url = '@Url.Action("Get_Std_Postal_ProvincesList", "Student")';
            $.ajax({
                url: url,
                data: { CountryID: CountryID },
                cache: false,
                type: "POST",
                success: function (result) {
                    if (result != null) {
                        $("#Std_Postal_Province").html(result);
                        $("#LoadingSpinner").hide();
                    }
                }
            });
        }
    }
    function GetPostalCities() {
        var ProvinceID = document.getElementById('Std_Postal_Province').value;
        if (ProvinceID != "") {
            $("#LoadingSpinner").show();
            var url = '@Url.Action("Get_Std_Postal_CitiesList", "Student")';
            $.ajax({
                url: url,
                data: { ProvinceID: ProvinceID },
                cache: false,
                type: "POST",
                success: function (result) {
                    if (result != null) {
                        $("#Std_Postal_City").html(result);
                        $("#LoadingSpinner").hide();
                    }
                }
            });
        }
    }

    function GetPermanentCities() {
        var ProvinceID = document.getElementById('Std_Permanent_Province').value;
        if (ProvinceID != "") {
            $("#LoadingSpinner").show();
            var url = '@Url.Action("Get_Std_Permanent_CitiesList", "Student")';
            $.ajax({
                url: url,
                data: { ProvinceID: ProvinceID },
                cache: false,
                type: "POST",
                success: function (result) {
                    if (result != null) {
                        $("#Std_Permanent_City").html(result);
                        $("#LoadingSpinner").hide();
                    }
                }
            });
        }
    }

    function ShowLoading() {
        if ($("#SchoolFrom").valid() == true) {
            $("#LoadingSpinner").show();
        }
    }

    function readURL(input) {
        document.getElementById("img_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#StdLogo");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#StdLogo");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
</script>


