<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The School System | @ViewBag.Title</title>
    <link href="~/Content/Loader/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Content/Loader/jquery-1.7.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/CSS")
</head>
<body>
    <div class="Contentloading" id="LoadingSpinner">Loading&#8230;</div>
    <div class="navbar navbar-expand-md navbar-light fixed-top">
        <!-- Header with logos -->
        <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand navbar-brand-md">
                <a href="~/Home/Index" class="d-inline-block">
                    <img src="~/Content/images//logo_light.png" alt="">
                </a>
            </div>

            <div class="navbar-brand navbar-brand-xs">
                <a href="~/Home/Index" class="d-inline-block">
                    <img src="~/Content/images//logo_icon_light.png" alt="">
                </a>
            </div>
        </div>
        <!-- /header with logos -->
        <!-- Mobile controls -->
        <div class="d-flex flex-1 d-md-none">
            <div class="navbar-brand mr-auto">
                <a href="~/Home/Index" class="d-inline-block">
                    <img src="~/Content/images//logo_dark.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <!-- /mobile controls -->
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            <span class="mr-md-auto" style="color:white">1</span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="d-md-none ml-2">Messages</span>
                        <span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Messages</span>
                            <a href="#" class="text-default"><i class="icon-compose"></i></a>
                        </div>
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="~/Content/images//demo/users/face10.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">James Alexander</span>
                                                <span class="text-muted float-right font-size-sm">04:58</span>
                                            </a>
                                        </div>
                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="~/Content/images//demo/users/face3.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Margo Baker</span>
                                                <span class="text-muted float-right font-size-sm">12:16</span>
                                            </a>
                                        </div>
                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/images//demo/users/face24.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Jeremy Victorino</span>
                                                <span class="text-muted float-right font-size-sm">22:48</span>
                                            </a>
                                        </div>
                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/images//demo/users/face4.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Beatrix Diaz</span>
                                                <span class="text-muted float-right font-size-sm">Tue</span>
                                            </a>
                                        </div>
                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/images//demo/users/face25.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Richard Vango</span>
                                                <span class="text-muted float-right font-size-sm">Mon</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All messages</a>
                            <div>
                                <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                                <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-cog3"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src='@ERP_SchoolSystem.Classes.UserInfo.GetEmpImage()' class="rounded-circle mr-2" height="34" alt="">
                        <span>@ERP_SchoolSystem.Classes.UserInfo.EmpName()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href='@Url.Action("UserProfile" , "Home")' class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-indigo-400 ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href='@Url.Action("AccountSetting" , "Home")' class="dropdown-item"><i class="icon-cog5"></i> Account Setting</a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        @Html.Partial("SystemSidebar")
        <div class="content-wrapper">
            <div class="page-header page-header-light">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4><img src='@ERP_SchoolSystem.Classes.UserInfo.GetSchoolLogo()' style="height:85px"  /> <span class="font-weight-semibold" style="font-family: -webkit-body;font-weight: bold;font-size: 22px;color: #4a7677;">@ERP_SchoolSystem.Classes.UserInfo.GetSchoolName()</span></h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>

                    <div class="header-elements d-none">
                        <div class="d-flex justify-content-center">
                            <h4 class="mb-0" style="font-family: -webkit-body;font-weight: bold;font-size: 22px;color: #4a7677;" id="clockbox"></h4>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href='@Url.Action("Index" , "Home")' class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            <a href='@Url.Action("DashBoard" , "Home")' class="breadcrumb-item"><i class="icon-home2 mr-2"></i> DashBoard</a>
                        </div>

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                    <div class="header-elements d-none">
                        <div class="breadcrumb justify-content-center">
                            <a href='@Url.Action("AccountSetting" , "Home")' class="breadcrumb-elements-item">
                                <i class="icon-gear mr-2"></i>
                                Account Setting
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
            @Html.Partial("Footer")
        </div>
    </div>
    @Scripts.Render("~/Content/JS")

    <script type="text/javascript">
        tday = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
        tmonth = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        function GetClock() {
            var d = new Date();
            var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getYear();
            if (nyear < 1000) nyear += 1900;
            var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;

            if (nhour == 0) { ap = " AM"; nhour = 12; }
            else if (nhour < 12) { ap = " AM"; }
            else if (nhour == 12) { ap = " PM"; }
            else if (nhour > 12) { ap = " PM"; nhour -= 12; }

            if (nmin <= 9) nmin = "0" + nmin;
            if (nsec <= 9) nsec = "0" + nsec;
            document.getElementById('clockbox').innerHTML = "" + tday[nday] + ", " + tmonth[nmonth] + " " + ndate + ", " + nyear + " " + nhour + ":" + nmin + ":" + nsec + ap + "";
        }

        window.onload = function () {
            GetClock();
            setInterval(GetClock, 1000);
        }
    </script>

</body>
</html>
